<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Info</servlet-name>
        <servlet-class>Info</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Info</servlet-name>
        <url-pattern>/Info</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PutuoAddress</servlet-name>
        <servlet-class>PutuoAddress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PutuoAddress</servlet-name>
        <url-pattern>/PutuoAddress</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PutuoBlockAddress</servlet-name>
        <servlet-class>PutuoBlockAddress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PutuoBlockAddress</servlet-name>
        <url-pattern>/PutuoBlockAddress</url-pattern>
    </servlet-mapping>
</web-app>